:root {
  --fondo-oscuro: #05010f;    
  --azul-base: #0d1b4c;         
  --neon-rosa: #ff2e9f;
  --neon-cyan: #00e5ff;
  --neon-verde: #39ff14;
  --neon-naranja: #ff9f1c;
  --neon-morado: #b829ff;
  --neon-amarillo: #fff01f;
  --neon-rosa2: #ff00ae;
  --neon-rosa3: #fe9ade;
  --texto: #ffffff;
}

a:visited {
  color: inherit;
}

body {
  margin: 0px;
    background-image:
    linear-gradient(rgba(5,1,15,0.65), rgba(5,1,15,0.65)),
     url('../img/background-4.jpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
}
.encabezado h1 {
  text-align: center;
  color: var(--neon-amarillo);
  text-shadow: 0 0 30px var(--neon-rosa);
  -webkit-text-stroke: 0.5px var(--texto);
  font-size: 50px;
  margin-top: 100px;
}

.portada{
-webkit-mask-image: linear-gradient(to bottom,black 70%, transparent 100%);
mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
background-image: url('../img/BackgroundPortada.png');
background-size: cover;
background-position: center;
min-height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
}

.hero h2 {
  text-align: center;
  color: var(--neon-verde);
  text-shadow: 0 0 20px var(--neon-cyan);
  -webkit-text-stroke: 0.5px var(--texto);
  font-size: 30px;
}
.hero p {
  text-align: center;
  color: var(--texto);
  text-shadow: 0 0 20px var(--neon-verde);
  font-size: 20px;
  font-family: 'Press Start 2P';
  
}
nav {
  text-align: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 25px;
  padding: 10px 0;
  z-index: 1000;
  
}
nav.scrolled {
  background-color: var(--azul-base)
}
nav a {
    color: var(--neon-rosa2);
    text-decoration: none;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px var(--neon-rosa3);
    margin: 0 60px;
  }
  nav a:hover {
    text-shadow: 0 0 20px var(--texto);
    -webkit-text-stroke: 0.8px var(--texto);
  }
  .contenido{
    padding: 0 75px;
  }
.tarjeta-juego {
 text-align: center;
 overflow: hidden;
 position: relative;
 width: fit-content;
 margin: 0 auto;
 border-radius: 15px;
}
.juego-prueba h1 {
  color: var(--texto);
  text-shadow:0 0 20px var(--neon-cyan);
  -webkit-text-stroke: 0.2px var(--texto);
}

  #imagen-arcadia  {
    height: auto;
    width: 200px;
}
#tarjeta {
  text-align: center;
}

.tarjeta-juego img {
  transition:transform 0.4s ease;
}
.tarjeta-juego:hover img {
  transform: scale(1.1);
}

.tarjeta-juego::after  {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
  pointer-events: none;
  z-index: 1;
}
.nombre-juego {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: var(--texto);
  font-family: 'Press Start 2P';
  text-shadow: 0 0 10px var(--neon-cyan);
  z-index: 2;
}
.tarjeta-juego:hover .nombre-juego {
  opacity: 1;
}